lambdas/state_machine.json
{
	"Comment": "Link processing machine",
	"StartAt": "ProcessLink",
	"States": {
		"ProcessLink": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.LinkType",
					"StringEquals": "Twitter",
					"Next": "ProcessTwitter"
				},
				{
					"Variable": "$.LinkType",
					"StringEquals": "RSS",
					"Next": "ProcessRSS"
				},
				{
					"Variable": "$.LinkType",
					"StringEquals": "Website",
					"Next": "ProcessWebsite"
				}
              ]
		},
		"ProcessTwitter": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:region:AccountID:function:function_name:*",
			"Next": "Webhook"
		},
		"ProcessRSS": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:region:AccountID:function:function_name:*",
			"Next": "Webhook"
		},
		"ProcessWebsite": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:region:AccountID:function:function_name:*",
			"Next": "Webhook"
		},
		"Webhook": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:region:AccountID:function:function_name:*",
			"End": true
		}
	}
}